<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SANTA LUPE</title>
	<link rel="shortcut icon" type="image/x-icon" href="../imgs/faviconlucia.ico">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav>
            <a href="../index.html">
                <img  src="../imgs/logo_sl.png" alt="logo de SANTA LUPE mantas y deco">
            </a>
            <ul>
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>
                <li>
                    <a href="../views/quienessomos.html">QUIENES SOMOS</a>
                </li>
                <li>
                    <a href="../views/promociones.html">PROMOCIONES</a>
                </li>
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li> 
            </ul>
        </nav>
        <!-- ends nav -->
        <br>
        <header>
            <img src="../imgs/heroimage.png" class="encabezado__img--fluid" alt="SANTA LUPE MANTAS">
            <h1>MANTAS & DECO HOME</h1> 
        </header>
        <!-- ends header -->
        <br>
        <main id="productos"> 
            <h1 class="informacion-precio">MANTAS</h1> 
            <section class="informacion-precio galeria">
                <figure class="manta1">
                    <img  src="../imgs/manta1.png">
                    <figcaption> <h2>Manta AZUL</h2></figcaption>
                    <p class="incorrecto">$2.500</p>            
                    <h2 >$2.000</h2>
                </figure>       
                <figure class="manta2">
                    <img src="../imgs/manta2.png">
                    <figcaption><h2>Manta MAGENTA</h2></figcaption>
                    <p class="incorrecto">$2.500</p>
                    <h2 >$2.000</h2>
                </figure>    
                <figure class="manta3">
                    <img  src="../imgs/manta3.png">
                    <figcaption><h2>Manta GRIS</h2></figcaption>
                    <p class="incorrecto">$2.500</p>
                    <h2 >$2.000</h2>
                </figure>    
                <figure class="manta4">
                    <img  src="../imgs/manta4.png">
                    <figcaption><h2>Manta HUESO</h2></figcaption>
                    <p class="incorrecto">$2.500</p>
                    <h2 >$2.000</h2>
                </figure>     
                <figure class="manta5">
                    <img src="../imgs/manta5.png">
                    <figcaption><h2>Manta BEIGE</h2></figcaption>
                    <p class="incorrecto">$2.500</p>
                    <h2 >$2.000</h2>
                </figure>
                <br><br>
            </section>
                <p class="informacion-precio">*Consultar por precios al por mayor.</p>
            </section>
        </main>
        <br>
        <footer id="pie">
            <a href="https://www.instagram.com/santalupe.rg" target="_blank">
                <img src="../imgs/insta.png" alt="santa lupe mantas"> 
                <h3>Seguinos en Instagram</h3> 
                <h3>@santalupe.rg</h3>
        </footer>	
    </body>
</html>