<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SANTA LUPE</title>
	<link rel="shortcut icon" type="image/x-icon" href="../imgs/faviconlucia.ico">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="contenedor-promociones">
    <nav id="nav-promo">
    	<a href="../index.html">
                <img  class="scale-logo" src="../imgs/logo_sl.png" alt="logo de SANTA LUPE mantas y deco">
        </a>
            <ul>
                <li>
                    <a href="../views/productos.html">PRODUCTOS</a>
                </li>
                <li>
                    <a href="../views/quienessomos.html">QUIENES SOMOS</a>
                </li>
                <li>
                    <a href="../views/promociones.html">PROMOCIONES</a>
                </li>
                <li>
                    <a href="../views/contacto.html">CONTACTO</a>
                </li> 
            </ul>
    </nav>
    <!-- ends nav -->
        <br>
        <header id="header-promo">
            <img src="../imgs/heroimage.png" class="encabezado__img--fluid" alt="SANTA LUPE MANTAS">
            <h1>PROMOCIONES DE HOT SALE</h1> 
        </header>
        <!-- ends header -->
        <br>
        <!--inicia main-->
        <main id="tabla-promos">
            <section >
                <table class="nosotros__articulo" border="3px" cellpadding="5px" cellspacing="5px">
                    <tr>
                        <th>----</th>
                        <th>Detalle</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>PROMO I</td>
                        <td>3 mantas del mismo color</td>
                        <td>$5.000.-</td>
                    </tr>
                    <tr>
                        <td>PROMO II</td>
                        <td>5 mantas de distinto color</td>
                        <td>$8.000.-</td>
                    </tr>
                </table>
            </section>
        </main>
        <!--ends main-->
        <section id="aside1-promo">
            <img src="../imgs/promo1.png" alt="">
        </section>
        <section id="aside2-promo">
             <img src="../imgs/promo2.png" alt="">
        </section>
        <br>
        <!--inicia footer-->
        <footer id="pie-promo">
            <a href="https://www.instagram.com/santalupe.rg" target="_blank">
                <img src="../imgs/insta.png" alt="santa lupe mantas"> 
                <h3>Seguinos en Instagram</h3> 
                <h3>@santalupe.rg</h3>
        </footer>
        <!--ends footer-->
    </div>
</body>
</html>