<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SANTA LUPE</title>
	<link rel="shortcut icon" type="image/x-icon" href="../imgs/faviconlucia.ico">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--inicia nav -->
	<nav>
        <a href="../index.html">
            <img class="scale-logo" src="../imgs/logo_sl.png" alt="logo de SANTA LUPE mantas y deco" >
        </a>
        <ul>
            <li>
                <a href="../views/productos.html">PRODUCTOS</a>
            </li>
            <li>
                <a href="../views/quienessomos.html">QUIENES SOMOS</a>
            </li>
            <li>
                <a href="../views/promociones.html">PROMOCIONES</a>
            </li>
            <li>
                <a href="../views/contacto.html">CONTACTO</a>
            </li> 
        </ul>
    </nav>
        <!-- ends nav -->
        <br>
        <!--inicia header-->
    <header>     
        <img src="../imgs/heroimage.png" alt="SANTA LUPE MANTAS" class="encabezado__img--fluid">
    </header>
        <!-- ends header -->
        <br>
        <!--inicia main-->
        <main id="quienes-somos">
            <section>
                <article class="nosotros__articulo">
                    <h1>QUIENES SOMOS</h1> 
                    <p>Hola! Me presento, mi nombre es Romina y soy la mamá de Guadalupe. Guada es la personita que inspiró este emprendimiento que nació hace unos años.</p>
                    <p>En un comienzo esto se trataba de venta de mantas entre mis amigas y familiares. Con el tiempo fue creciendo, empezamos a inlcuir mas productos y fuimos llegando a todas partes de país.</p>
                    <p>Sin duda lo que distingue esta marca es el amor con la que trabajamos para nuestrxs clientxs. Hacemos todo desde el amor y trabajamos duro para lograr los mejores precios del mercado -revendemos directo de fábrica. </p>
                </article>   
            </section>    
        </main>
        <!--ends main-->
        <br>
        <!--inicia footer-->
        <footer>
            <a href="https://www.instagram.com/santalupe.rg" target="_blank">
                <img src="../imgs/insta.png" alt="santa lupe mantas"> 
                <h3>Seguinos en Instagram</h3> 
                <h3>@santalupe.rg</h3>
        </footer>	
        <!--ends footer-->
    </body>
</html>